# Node.js modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env

# Firebase Service Account Key
serviceAccountKey.json

# PDF and other large files
*.pdf
backend/wordlearningapp-b4360-firebase-adminsdk-tvj6y-82e3ae1618.json
backend/wordlearningapp-b4360-firebase-adminsdk-tvj6y-82e3ae1618.json
backend/wordlearningapp-b4360-firebase-adminsdk-tvj6y-82e3ae1618.json
